.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  &__email,
  &__password {
    margin-bottom: 1rem;
  }

  &__button {
    .button__content {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}