.input-content {
  display: flex;
  position: relative;
  align-items: stretch;
  &__wrapper {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
  }
  &__counter {
    left: auto;
    right: 0.75rem;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    color: #34495e;
    display: flex;
    position: absolute;
    font-size: 1.25rem;
    margin-top: .2rem;
    align-items: center;
    justify-content: center;

    &--right {
      left: auto;
      right: 0.75rem;
    }
    &--left {
      left: 0.75rem;
    }
    &--password {
      cursor: pointer;
    }
  }
  &__field {
    &--icon-left {
      padding-left: 2.5rem;
    }
    &--prepend {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &--append {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &--append,
    &--prepend {
      height: 2.5rem;
      padding-top: 0;
      padding-bottom: 0;
    }
    &--addon {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &--counter {
      padding-right: var(--size-big);
    }
    &--disabled {
      color: var(--color-neutral-70);
      border-color: var(--color-neutral-50);
      background-color: var(--color-neutral-50);
    }
  }
  &__append {
    .button {
      height: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &__prepend {
    .button {
      height: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &__addon {
    border: 1px solid var(--color-neutral-60);
    display: flex;
    padding: 0 0.75rem;
    align-items: center;
    background-color: var(--color-neutral-50);
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
  @media (max-width: 767px) {
    align-items: center;
    flex-direction: column;
    &__wrapper {
      width: 100%;
      flex-wrap: wrap;
    }
    &__icon {
      font-size: 1rem;
      &--left,
      &--right {
        padding: 0.5rem;
      }
    }
    &__field {
      width: 100%;
      box-sizing: border-box;
      font-size: 0.9rem; // Reduzir o tamanho da fonte para telas pequenas
      padding-left: 1rem; // Reduzir espaçamentos gerais
      padding-right: 1rem;
    }
  }
}