.dropdown {
  cursor: pointer;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__theme {
    &--finance {
      .dropdown__submenu {
        background: linear-gradient(to bottom, #1d3557, #457b9d);
      }
    }
    &--geek {
      .dropdown__submenu {
        background: linear-gradient(to bottom, #232946, #009688);
      }
    }
    &--law {
      .dropdown__submenu {
        background: linear-gradient(to bottom, #312e81, #4c1c64);
      }
    }
  }
  &__submenu {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
  }
  .dropdown {
    margin-left: -20px;
    .dropdown {
      &__submenu {
        padding-left: 50px;
        background: none;
      }
    }
  }
}