@use "../../styles/main" as *;

@mixin alert-type($text-color, $border-color, $background-color) {
  color: $text-color;
  border-color: $border-color;
  background-color: $background-color;
  .alert {
    &__icon {
      &--title, &--close {
        color: $border-color;
      }
    }
    &__content {
      color: $border-color;
    }
  }
}

.alert {
  gap: var(--size-regular);
  width: 100%;
  border: 1px solid;
  padding: var(--size-regular);
  display: flex;
  position: relative;
  max-width: calc(0.8 * var(--breakpoints-md));
  border-radius: var(--borders-regular);
  justify-content: space-between;

  &__icon {
    &--title {
      min-width: var(--size-medium);
    }
    &--close {
      width: var(--size-x-regular);
      height: var(--size-medium);
      display: flex;
      min-width: var(--size-x-regular);
      user-select: none;
      align-items: center;
      vertical-align: top;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__type {
    &--info, &--lamp {
      @include alert-type(var(--color-info-90), var(--color-info-80), var(--color-info-60));
    }
    &--error {
      @include alert-type(var(--color-error-90), var(--color-error-80), var(--color-error-60));
    }
    &--warning {
      @include alert-type(var(--color-attention-90), var(--color-attention-80), var(--color-attention-60));
    }
    &--success {
      @include alert-type(var(--color-success-90), var(--color-success-80), var(--color-success-60));
    }
  }

  &__content {
    gap: var(--size-tiny);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    &--link {
      width: fit-content;
      font-weight: var(--font-weight-bold);
      border-bottom: 1px solid;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__borderless {
    border: none;
  }
}