.l-progress-indicator {
  display: flex;
  gap: 4px;

  &__dot {
    height: 8px;
    width: 8px;
    background-color: var(--color-neutral-60);
    border-radius: var(--size-large);
    align-self: center;
  }
}

.l-progress-indicator--context-primary {
  background-color: var(--color-primary-100);
}

.l-progress-indicator--context-secondary {
  background-color: var(--color-secondary-100);
}
