.form-input {
  &__radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
    fieldset {
      .label, .radio-group P {
        margin-left: var(--dimensions-relative-16);
      }
    }
  }
}