@use "../../styles/main" as *;
@use "sass:list";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: var(--opacity-64);
  }
}

.modal {

  &__close {
    user-select: none;
    &:hover {
      cursor: pointer;
    }
  }

  &__backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    opacity: 0.64;
    position: fixed;
  }

  &__content {
    top: 50%;
    left: 50%;
    width: fit-content;
    margin: 0;
    display: flex;
    padding: var(--dimensions-relative-20);
    z-index: 32;
    position: fixed;
    overflow: auto;
    transform: translate(-50%, -50%);
    min-width: 576px;
    min-height: 176px;
    border-radius: var(--border-radius-large);
    flex-direction: column;
    background-color: var(--color-white);
  }

  &__fade-in {
    animation: fadeIn 0.3s;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--size-regular);
    padding-bottom: var(--size-xx-small);
    justify-content: space-between;
  }

  &__spacing {
    &--md {
      padding: var(--size-xx-big);
      @media (max-width: var(--breakpoints-md)) {
        padding: var(--size-xx-big) var(--size-medium);
      }
    }
    &--lg {
      padding: var(--size-huge) var(--size-regular);
    }
  }

  @media (min-width: var(--breakpoints-md)) {
    padding: var(--size-huge) var(--size-medium);
    max-height: 100%;
  }

  @media (max-width: var(--breakpoints-md)) {
    width: 100%;
    height: 100%;
    min-width: auto;
    border-radius: 0;
  }
}

$contexts: (
        info: (var(--color-info-80), var(--color-info-70)),
        error: (var(--color-error-80), var(--color-error-70)),
        neutral: (var(--color-neutral-80), var(--color-neutral-90)),
        primary: (var(--color-primary-80), var(--color-primary-60)),
        secondary: (var(--color-secondary-80), var(--color-secondary-60)),
        attention: (var(--color-attention-80), var(--color-attention-60))
);

@each $key, $colors in $contexts {
  .modal__context--#{$key} .modal__close {
    color: list.nth($colors, 1);
    &:hover {
      color: list.nth($colors, 2);
    }
  }
}
