$sidebar-width: 250px;
$sidebar-collapsed-width: 80px;
$transition-speed: 0.3s;

.sidebar {
  top: 60px;
  left: 0;
  color: var(--color-sidebar-color);
  width: $sidebar-width;
  height: calc(100vh - 60px);
  display: flex;
  overflow: hidden;
  position: fixed;
  background: var(--color-sidebar-background);
  transition: width $transition-speed ease;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  &__closed {
    width: $sidebar-collapsed-width;
    .dropdown  {
      &__submenu {
        padding-left: 20px;
        .dropdown {
          .dropdown__submenu {
            padding-left: 20px;
          }
        }
      }
    }
  }
  &__menu {
    flex: 1;
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    svg {
      font-size: 1.5rem;
    }
    &--item {
      display: flex;
      flex-direction: column;
      &-link {
        cursor: pointer;
        color: inherit;
        display: flex;
        padding: 10px 20px;
        font-size: 1rem;
        transition: background-color 0.2s ease;
        align-items: center;
        text-decoration: none;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
        &__title {
          margin-left: 10px;
        }
      }
    }
  }
  &__toggle-button {
    color: var(--color-sidebar-button);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background: none;
    transition: background-color 0.2s ease;
    margin-left: auto;
    &:hover {
      background-color: var(--color-sidebar-button-hover-background);
    }
  }
}