.content {
  padding: var(--dimensions-fixed-20);
  margin-top: var(--dimensions-fixed-60);
  margin-left: var(--dimensions-fixed-250);
  transition: margin-left 0.3s ease;
}

.sidebar.closed + .content {
  margin-left: var(--dimensions-fixed-80);
}
