// Navbar.scss
$navbar-height: 60px;
$background-color: #1d3557; // Azul da sidebar para consistência
$text-color: #f1faee;

.navbar {
  height: $navbar-height;
  width: 100%;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  .navbar-left {
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .navbar-right {
    .profile {
      font-size: 1rem;

      strong {
        font-weight: bold;
        color: #a8dadc; // Tom mais claro para destacar o nome do usuário
      }
    }
  }
}