.table {
  padding: var(--size-regular);
  border-radius: var(--borders-regular);
  overflow-x: auto; /* Permite o scroll horizontal */
  -webkit-overflow-scrolling: touch; /* Melhor experiência em dispositivos móveis */


  table {
    width: 100%;
    border-spacing: 0; /* Remove os espaços entre as células */
    border-collapse: collapse; /* Faz com que bordas da tabela não fiquem separadas */

    th {
      padding: var(--size-tiny);
      border-bottom: 1px solid var(--color-neutral-60);
      user-select: none;
      white-space: nowrap; /* Garante que as células não quebrem por padrão */
      overflow: hidden; /* Evita overflow em colunas muito estreitas */
      text-overflow: ellipsis; /* Adiciona reticências (...) em dados muito longos */

      span {
        color: var(--color-neutral-90);
      }
    }
    tr {
      &:hover {
        td {
          background-color: var(--color-neutral-50);
        }
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
    td {
      padding: var(--size-regular) var(--size-tiny);
      font-size: var(--font-size-1-75);
      word-wrap: break-word;
      //white-space: normal;
      border-bottom: 1px solid var(--color-neutral-60);
      white-space: nowrap; /* Garante que as células não quebrem por padrão */
      overflow: hidden; /* Evita overflow em colunas muito estreitas */
      text-overflow: ellipsis; /* Adiciona reticências (...) em dados muito longos */


    }
  }

  &__no-data-container {
    height: 200px;
    margin: 16px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  &__action-row {
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }

  @media (max-width: 768px) {
    th,
    td {
      /* Aumenta espaço para visualização no mobile */
      padding: var(--size-small);
      font-size: var(--font-size-1-5);
      white-space: normal; /* Permite textos mais longos quebrarem */
    }

    tr {
      /* Fica em modo card-style para telas menores */
      display: flex;
      flex-direction: column;
      margin-bottom: var(--size-small);
    }

    th {
      text-align: left; /* Alinha cabeçalhos no topo do card */
    }

    td {
      //display: block; /* Cada célula vira um bloco independente */
      //text-align: left; /* Alinha texto do conteúdo da célula */
    }
  }
}
//@media (max-width: 768px) {
//  .table table td {
//    max-width: 150px;
//  }
//}

//@media (max-width: 480px) {
//  .table table td {
//    max-width: 100px;
//  }
//}
