@use "../../styles/main" as *;

.collapse {
  &__content {
    @include line-overflow(3);
    margin: var(--dimensions-tiny);
    .collapse__expanded & {
      -webkit-line-clamp: initial;
      max-height: none;
    }
  }
  &__button {
    margin-top: var(--size-small);
  }
}