.social-text {
  gap: 0.5rem;
  width: 100%;
  display: flex;
  max-width: 25rem;
  align-items: center;
  justify-content: center;
  &__text {
    white-space: nowrap;
  }
  &__line{
    flex-grow: 1;
    background-color: var(--color-neutral-90);
  }

  @media (min-width: 768px) {
    max-width: 30%;
  }


}