$sidebar-width: 250px;
$sidebar-collapsed-width: 80px;
$transition-speed: 0.3s;

.sidebar {
  top: 60px;
  left: 0;
  width: $sidebar-width;
  height: calc(100vh - 60px);
  display: flex;
  overflow: hidden;
  position: fixed;
  transition: width $transition-speed ease;
  flex-direction: column;
  &__theme {
    &--finance {
      color: #f1faee;
      background: linear-gradient(to bottom, #1d3557, #457b9d);
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
      .sidebar__toggle-button {
        color: white;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
    &--geek {
      color: #f0eff4;
      background: linear-gradient(to bottom, #232946, #009688);
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
      .sidebar__toggle-button {
        color: #f0eff4;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
    &--law {
      color: #ede9fe;
      background: linear-gradient(to bottom, #312e81, #4c1c64);
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
      .sidebar__toggle-button {
        color: #ede9fe;
        &:hover {
          background-color: rgba(237, 233, 254, 0.3);
        }
      }
    }
  }
  &__closed {
    width: $sidebar-collapsed-width;
    .dropdown  {
      &__submenu {
        padding-left: 20px;
        .dropdown {
          .dropdown__submenu {
            padding-left: 20px;
          }
        }
      }
    }
  }
  &__menu {
    flex: 1;
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    svg {
      font-size: 1.5rem;
    }
    &--item {
      display: flex;
      flex-direction: column;
      &-link {
        color: inherit;
        display: flex;
        padding: 10px 20px;
        font-size: 1rem;
        transition: background-color 0.2s ease;
        align-items: center;
        text-decoration: none;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
        &__title {
          margin-left: 10px;
        }
      }
    }
  }
  &__toggle-button {
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background: none;
    transition: background-color 0.2s ease;
    margin-left: auto;
  }
}