@use "../../../styles/main" as *;
.input-content {
  &__container {
    display: flex;
    position: relative;
    flex-grow: 1;
    .icon, div, span {
      position: absolute;
      transform: translate(0, -50%);
    }
    .icon {
      top: 55%;
      left: 1rem;
      max-width: 1rem;
    }
    div, span {
      top: 50%;
      left: unset;
      right: 1rem;
    }

    &--wrapper + .icon {
      left: unset;
      right: 1rem;
    }

    &--wrapper {
      color: var(--color-neutral-100);
      width: 100%;
      padding: var(--size-x-small) 1rem;
      border: 1px solid var(--color-neutral-60);
      text-align: left;
      border-radius: var(--border-radius-large);
      background-color: transparent;

      &::placeholder {
        color: var(--color-neutral-90);
      }

      &:hover {
        border-color: #e5cefd;
      }

      @include focus(
              $default-transition: (
                      border 0.2s ease-in-out,
                      box-shadow 0.2s ease-in-out,
              ),
              $overflow-border: true
      );

      &:active {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
      }

      &#{&}-focused:focus {
        border-color: #e5cefd;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }

      &[type="button"],
      &[type="submit"] {
        cursor: pointer;
      }

      &-multiline {
        height: auto;
      }

      &-invalid {
        color: var(--color-error-80);
        border-color: var(--colors-error-80);

        &:focus {
          box-shadow: inset 0 0 0 1px var(--color-error-80);
        }
        &::placeholder {
          color: var(--color-error-80);
        }
      }

      &-icon {
        &-left {
          padding-left: var(--size-xx-large);
        }
        &-right {
          padding-right: var(--size-big);
        }
      }

      &-addon {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &-counter {
        padding-right: var(--size-big);
      }

      &-prepend {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &-append {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &-append,
      &-prepend {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        &__floating {
          height: auto;
        }
      }

      &-disabled {
        color: var(--color-neutral-70);
        border-color: var(--color-neutral-50);
        background-color: var(--color-neutral-50);
      }
    }
  }
  &__password {
    cursor: pointer;
  }
  &__addon {
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    border: 1px solid var(--color-neutral-60);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--color-neutral-50);
  }

  &__append {
    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &-floating {
      .button {
        top: 50%;
        right: 4px;
        height: var(--size-large);
        position: absolute;
        transform: translateY(-50%);
      }
    }
  }
  &__prepend {
    .button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}