@use "../../../styles/main" as *;
.input-content {
  display: flex;
  position: relative;
  align-items: stretch;
  &__wrapper {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
  }
  &__counter {
    left: auto;
    right: 0.75rem;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    //color: #34495e;
    display: flex;
    position: absolute;
    font-size: 1.25rem;
    margin-top: .2rem;
    align-items: center;
    justify-content: center;

    &--right {
      left: auto;
      right: 0.75rem;
    }
    &--left {
      left: 0.75rem;
    }
    &--password {
      cursor: pointer;
    }
  }
  &__field {
    color: var(--color-neutral-100);
    width: 100%;
    border: 1px solid var(--color-neutral-60);
    outline: none;
    padding: var(--size-x-small) 1rem;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    border-radius: var(--border-radius-large);
    background-color: transparent;
    &::placeholder {
      color: var(--color-neutral-90);
    }

    &:hover {
      border-color: #e5cefd;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.2);
      border-color: #2c3e50;
    }

    &:active {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
    }

    &#{&}-focused:focus {
      border-color: #e5cefd;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    &[type="button"],
    &[type="submit"] {
      cursor: pointer;
    }

    @include focus(
            $default-transition: (
                    border 0.2s ease-in-out,
                    box-shadow 0.2s ease-in-out,
            ),
            $overflow-border: true
    );
    &--icon-left {
      padding-left: 2.5rem;
    }
    &--prepend {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &--append {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &--append,
    &--prepend {
      height: 2.5rem;
      padding-top: 0;
      padding-bottom: 0;
    }
    &--addon {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &--counter {
      padding-right: var(--size-big);
    }
  }
  &__append {
    .button {
      height: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &__prepend {
    .button {
      height: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &__addon {
    border: 1px solid var(--color-neutral-60);
    display: flex;
    padding: 0 0.75rem;
    align-items: center;
    background-color: var(--color-neutral-50);
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
  @media (max-width: 767px) {
    align-items: center;
    flex-direction: row;
    &__wrapper {
      width: 100%;
      flex-wrap: wrap;
      align-items: stretch; /* Ajusta os elementos preenchendo o espaço */
    }
    &__icon {
      font-size: 1rem;
      &--left,
      &--right {
        padding: 0.5rem;
      }
    }
    &__field {
      width: 100%;
      box-sizing: border-box;
      font-size: 0.9rem;
    }
    &__append,
    &__prepend, {
      .button {
        height: var(--size-xxx-large);
      }
    }
  }
}