.sign-up {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  &__form {
    gap: 1rem;
    width: Calc(25vw - 10px);
    display: flex;
    flex-direction: column;
    &--radio-group {
      display: flex;
      justify-content: center;
      align-items: center;
      fieldset {
        .label {
          margin-left: var(--dimensions-relative-16);
        }
      }
    }
  }
}