@use "../../styles/main" as *;

.input {
  &__icon {
    &--context {
      &-info {
        .icon {
          color: var(--color-info-80);
        }
      }
      &-error {
        .icon {
          color: var(--color-error-80);
        }
      }
      &-neutral {
        .icon {
          color: var(--color-neutral-110);
        }
      }
      &-success {
        .icon {
          color: var(--color-success-80);
        }
      }
      &-primary {
        .icon {
          color: var(--color-primary-100);
        }
      }
      &-secondary {
        .icon {
          color: var(--color-secondary-100);
        }
      }
      &-attention {
        .icon {
          color: var(--color-attention-80);
        }
      }
    }
  }

  &__label {
    background: var(--color-white);
    transition: transform 0.2s ease, margin 0.2s ease, color 0.2s ease;

    &--floating {
      position: absolute;
      top: 1rem;
      left: 1rem;
      transform-origin: left center;
      pointer-events: none;

      &--shrink {
        transform: translateY(-1.5rem) scale(0.75);
        color: var(--color-neutral-80);
      }
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
    align-items: stretch;
  }

  &--floating-label {
    .input__wrapper > input {
      padding-top: 1.5rem;
    }
  }

}